services:
  php:
    build:
      context: .
      dockerfile: .infrastructure/docker/php/Dockerfile
      target: build-local
      args:
        - COMPOSER_HOME=/var/www/html/.composer
    env_file: .env
    environment:
      COMPOSER_HOME: /var/www/html/.composer
      XDEBUG_SESSION: "1"
      XDEBUG_MODE: "debug"
      XDEBUG_CONFIG: "client_host=host.docker.internal"
      PHP_IDE_CONFIG: "serverName=MyServer"
    ports:
      - "50055:9003"
    volumes:
      - ./:/var/www/html
    networks:
      - php-test-fixtures

  testFixturesAdminer:
    image: adminer:latest
    container_name: testAdminer
    restart: always
    environment:
      ADMINER_DESIGN: nette
    networks:
      - php-test-fixtures
    depends_on:
      - testFixturesPgDb
      - testFixturesMariaDb
    ports:
      - "5119:8080"

  testFixturesPgDb:
    image: postgres:15.10
    container_name: testPgDb
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: test-fixtures
    networks:
      - php-test-fixtures
    volumes:
      - postgres_data:/var/lib/postgresql/data

  testFixturesMariaDb:
    image: mariadb:latest
    container_name: testMariaDb
    environment:
      MARIADB_ROOT_PASSWORD: password
      MARIADB_DATABASE: test-fixtures
      MARIADB_USER: maria
      MARIADB_PASSWORD: password
    networks:
      - php-test-fixtures
    volumes:
      - mariadb_data:/var/lib/mysql

volumes:
  postgres_data:
  mariadb_data:

networks:
  php-test-fixtures:
    driver: bridge